@charset "UTF-8";

#banner {
	position: absolute;
	background-color: #0c59ad;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-family: "Verdana";
  font-size: 1.5rem;
  color: #FFFFFF;	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

@media screen and (max-width: 540px) {
	#banner {
		height: 1.5rem;
		line-height: 1.5rem;
		font-size: 1.0rem;
  }
}

.banner {
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 5%;
	margin-left: 5%;
}

