@charset "UTF-8";

#banner {
	position: absolute;
	background-color: #0c59ad;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	font-family: "Verdana";
  font-size: 2.0rem;
  color: #FFFFFF;	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.banner {
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 5%;
	margin-left: 5%;
}

