@import url("ieee-print.css");

@charset "UTF-8";

@media screen and (max-width: 540px) {
	html {
		font-size: 12pt;
	}
}

@media screen and (min-width: 540px) {
	html {
		font-size: 18pt;
	}
}

body {
	column-count: 1;
	margin: 10% 7% 10% 7%;
}

a {
	color: blue;
	text-decoration: none;
}

p, ul, ol {
	line-height: 1.2rem;
}

.print-only {
	display: none;
}

.web-only {
	display: initial;
}

